<div class="sidebar left_sidebar">
  <a routerLink="">
    <div class="logo">
      <img src="../../../assets/images/Logo Mark@2x.png" alt="">
    </div>
  </a>
  <div class="content">
    <div class="title">
      EXPLORE
    </div>
    <div class="line"></div>
    <div class="menu">
      <ul>
        <li><a href="https://workgroup.fonterra.com/sites/HRInformationPortal/NZ/Pages/default.aspx"
            target="_Blank">HR<span><img src="{{baseApiUrl}}/assets/images/Right arrow@2x.png"></span></a></li>
        <!-- <li><a href=" https://fonterra.service-now.com/sp" target="_Blank">IT Helpdesk<span><img
                src="../../../assets/images/Right arrow@2x.png"></span></a></li> -->
        <li><a href="https://performancemanager10.successfactors.com/sf/home" target="_Blank">My Fonterra<span><img
                src="{{baseApiUrl}}/assets/images/Right arrow@2x.png"></span></a></li>
        <li><a href="https://fonterra.service-now.com/sp" target="_Blank">My IT<span><img
                src="{{baseApiUrl}}/assets/images/Right arrow@2x.png"></span></a></li>
        <li><a href="https://performancemanager10.successfactors.com/sf/orgchart" target="_Blank">OrgChart<span><img
                src="{{baseApiUrl}}/assets/images/Right arrow@2x.png"></span></a></li>
        <li><a href="https://milkyway.fonterra.com/s/article/Apply-for-Leave-Webpage" target="_Blank">Apply for
            Leave<span><img src="{{baseApiUrl}}/assets/images/Right arrow@2x.png"></span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="header belowMark ">
  <div class="logo">
    <a class="logo-link" routerLink="">
      <img src="{{baseApiUrl}}/assets/images/Portal Mobile@2x.png">
    </a>
  </div>
  <div class="ms-menu {{active}}" (click)="menu();">
    <i class="material-icons">menu</i>
  </div>
  <div [hidden]="searchHidden === 1" class="ms-menu {{active}}" (click)="search();">
    <i class="material-icons">search</i>
  </div>
  <div class="ms-menu {{show}}" (click)="close();">
    <i class="material-icons">close</i>
  </div>
  <div class="nav {{showNav}}">
    <div class="item-container">
      <div class="title">
        EXPLORE
      </div>
      <div class="line"></div>
      <div class="menu">
        <ul>
          <li><a href="https://workgroup.fonterra.com/sites/HRInformationPortal/NZ/Pages/default.aspx"
              target="_Blank">HR<span><img src="{{baseApiUrl}}/assets/images/Right arrow@2x.png"></span></a></li>
          <!-- <li><a href=" https://fonterra.service-now.com/sp" target="_Blank">IT Helpdesk<span><img
                  src="../../../assets/images/Right arrow@2x.png"></span></a></li> -->
          <li><a href="https://performancemanager10.successfactors.com/sf/home" target="_Blank">My Fonterra<span><img
                  src="{{baseApiUrl}}/assets/images/Right arrow@2x.png"></span></a></li>
          <li><a href="https://fonterra.service-now.com/sp" target="_Blank">My IT<span><img
                  src="{{baseApiUrl}}/assets/images/Right arrow@2x.png"></span></a></li>
          <li><a href="https://performancemanager10.successfactors.com/sf/orgchart" target="_Blank">OrgChart<span><img
                  src="{{baseApiUrl}}/assets/images/Right arrow@2x.png"></span></a></li>
          <li><a href="https://milkyway.fonterra.com/s/article/Apply-for-Leave-Webpage" target="_Blank">Apply for
              Leave<span><img src="{{baseApiUrl}}/assets/images/Right arrow@2x.png"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="nav {{showSearch}}">
    <div class="item-container">
      <div class="item">
        <div class="search">
          <button class="input-group-addon" (click)="searchValue()">
            <span class="glyphicon glyphicon-search search-logo"></span>
            <!-- <span><img src="../../../assets/images/Search@2x.png" ></span> -->
          </button>
          <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchContent" #box
            (keyup.enter)="onEnter(box.value)" />
        </div>
      </div>

    </div>

  </div>

  <!-- <div class="ms-menu">
    <a nz-button (click)='showModal();'>
      <div class="ms-menu">
        <i class="material-icons">menu</i>
      </div>
    </a>
  </div>
  <nz-drawer
      [nzClosable]="false"
      [nzVisible]="isVisible"
      [nzPlacement]="placement"
      nzTitle="Basic Drawer"
      (nzOnClose)="close()"
      [nzClosable] = true
      [nzTitle] = "null"
      nzOffsetY = 30
    >
    <div class="nav">
        <div class="item-container">
          <div id="clinical-page-below" class="item">
            <div class="text">HR</div>
          </div>
          <div id="product-page-below" class="item">
            <div class="text">IT Helpdesk</div>
          </div>
        </div>
      </div>
    </nz-drawer> -->

</div>
<div class="{{hover}}" (click)="close();"></div>
