@media only screen and (max-width: 984px) and (min-width: 100px) {
  .header {
    border-bottom: 1px solid rgb(189, 189, 189);
    // padding: 5px 10px;
    line-height: 3.75rem;
    // border-bottom: 1px solid #DA1884;
    position: relative;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    background: rgb(244, 244, 244);
    .logo {
      float: left;
      margin-left: 10px;
      .logo-link {
        img {
          // width: 36px;
          height: 36px;
        }
      }
    }
    .ms-menu {
      float: right;
      width: 3.75rem;
      height: auto;
      text-align: center;
      i {
        line-height: 45px;
      }
    }
    .nav {
      .item-container {
        border-top: 1px solid #bdbdbd;
        width: 100%;
        overflow-y: auto;
        max-height: 400px;
        padding: 0 24px;
        .title {
          color: rgb(0, 0, 0);
          font-family: "KievitOT-Medium";
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0px;
          line-height: 28px;
          width: 100%;
          padding: 28px 0 6px 0;
        }
        .line {
          background: rgb(189, 189, 189);
          border-radius: 0px;
          height: 1px;
          width: 100%;
          display: flex;
          justify-self: center;
          margin-bottom: 15px;
        }
        .menu {
          padding: 15px 0 0 0;
          ul {
            padding: 0;
            color: rgb(0, 0, 0);
            font-family: "KievitOT-Medium";
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: 28px;
            li {
              width: 100%;
              height: 48px;
              display: flex;
              align-content: center;
              a {
                width: 100%;
                display: block;
                color: rgb(158, 158, 158) !important;
                font-family: "KievitOT-Regular";
                font-size: 16px;
                font-weight: normal;
                height: 28px;
                letter-spacing: 0px;
                line-height: 28px;
                span {
                  float: right;
                  img {
                    width: 50%;
                  }
                }
              }
            }
          }
        }
        .item {
          height: 100%;
          padding: 0 1.5rem;
          width: 100%;
          // background-color: #DA1884;
          color: #000;
          font-size: 1.2rem;
          -webkit-font-smoothing: antialiased;
          border-bottom: 1px solid #ebeef0;
          text-align: right;
          .text {
            float: left;
            display: -webkit-box;
          }
        }
      }
    }
    .search {
      height: 37px;
      width: 100%;
      margin-top: 15px;
      padding: 2px 5px;
      margin-bottom: 30px;
      display: flex;
      background-color: #fff;
      border-radius: 5px;
      .input-group-addon {
        padding: 0;
        margin: 0;
        background: #fff;
        height: 28px;
        width: 28px;
        border: none;
        .search-logo {
          background: rgb(0, 153, 255);
          border-radius: 150px;
          height: 28px;
          width: 28px;
          color: #fff;
          text-align: center;
          line-height: 30px;
        }
      }
      .form-control {
        background-color: #fff;
        border: none;
        box-shadow: none;
        color: rgb(158, 158, 158);
        font-family: "KievitOT-Regular";
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0.25px;
        line-height: 20px;
        width: 100%;
      }
    }
  }
  .belowMark {
    display: block;
  }
  .left_sidebar {
    display: none;
  }
}
@media only screen and (min-width: 985px) {
  .belowMark {
    display: none;
  }
  .left_sidebar {
    display: block;
  }
}
.sidebar {
  position: fixed;
  min-height: 100%;
  width: 17.5%;
  height: 100%;
  background: rgb(244, 244, 244);
  border-radius: 0px;
  box-shadow: inset -1px 0px 0px 0px rgb(189, 189, 189);
  .logo {
    width: 100%;
    height: 216px;
    display: flex;
    justify-content: center;
    img {
      width: 88px;
      height: 88px;
      display: flex;
      align-self: center;
    }
  }
  .content {
    padding: 0 10%;
    margin-top: -7%;
    width: 100%;
    .title {
      margin-bottom: 5px;
      color: rgb(0, 0, 0);
      font-family: "KievitOT-Medium";
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0px;
      line-height: 28px;
    }
    .line {
      background: rgb(189, 189, 189);
      border-radius: 0px;
      height: 1px;
    }
    .menu {
      padding: 15px 0 0 0;
      ul {
        padding: 0;
        color: rgb(0, 0, 0);
        font-family: "KievitOT-Medium";
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 28px;
        li {
          width: 100%;
          height: 48px;
          display: flex;
          align-content: center;
          a {
            width: 100%;
            display: block;
            color: rgb(0, 0, 0);
            span {
              float: right;
              img {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}

.active {
  display: none !important;
}

.hover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}
